{% extends "main_layout.html" %}

{% block title %}Data Term{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="mt-4 card">
    <div class="card-header">Aksi</div>
    <div class="card-body">
      <a href="{{ url_for('generate_term') }}" class="btn btn-warning">Generate ulang term</a>
    </div>
  </div>
  <div class="mt-4 card">
    <div class="card-header">Dokumen Berita</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Term</th>
            <th scope="col">Frekuensi</th>
          </tr>
        </thead>
        <tbody>
          {% for t in term %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ t.term }}</td>
            <td>{{ t.freq }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
