{% extends "main_layout.html" %}

{% block title %}Data dokumen{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="mt-4 card">
    <div class="card-header">Aksi</div>
    <div class="card-body">
      <a href="{{ url_for('hello_world') }}" class="btn btn-warning">Scrapping Ulang Dokumen Berita</a>
    </div>
  </div>
  <div class="mt-4 card">
    <div class="card-header">Dokumen Berita</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dokumen</th>
          </tr>
        </thead>
        <tbody>
          {% for dok in dokumen %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ dok.text }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
