{% extends "main_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header"><h3>Penelitian perbandingan metode stemming</h3></div>
        <div class="card-body">
          <h4>Tentang Aplikasi</h4>
          <p>
            Aplikasi ini adalah aplikasi yang membandingkan performa stemming
            antara metode Tala, Nazhief Adriani serta EHCS. Data yang akan diuji
            adalah dokumen berita yang didapatkan dari web blog
            <a href="http://rumahginjal.id/category/blog">rumahginjal.id</a>.
          </p>
          <h4>Langkah penelitian</h4>
          <ul>
            <li>
              <h5>Scraping dokumen berita</h5>
              <p>
                Scraping adalah pengambilan beberapa konten dari suatu web.
                Dalam penelitian ini, diambil data dokumen berita dari <a href="http://rumahginjal.id/category/blog">rumahginjal.id</a>
                sebanyak 48 hingga 50 dokumen berita.
              </p>
            </li>
            <li>
              <h5>Stemming</h5>
              <p>
                Semua dokumen berita yang diperoleh kemudian dilakukan stemming.
                Stemming sendiri adalah proses pengambilan kata dasar pada dokumen.
                Dari proses stemming ini, dihasilkan data term dan data waktu
                proses stemming yang ditempuh dari ketiga metode yang diteliti
                (Tala, Nazhief dan EHCS). Data term adalah data kata dasar dari
                semua dokumen berita yang telah didapat. Selain itu, pada proses
                ini juga dihasilkan data validitas dari tiap term yang dihasilkan dari
                ketiga metode tersebut.
              </p>
            </li>
            <li>
              <h5>Hasil</h5>
              <p>
                Hasil penelitian dilihat dari data akurasi dan tingkat akurasi
                stemming dari ketiga metode. Semakin tinggi akurasi hasil stemming,
                maka semakin baik metode tersebut. Sebaliknya, semakin tinggi
                waktu pemrosesan, maka semakin buruk metode tersebut.
              </p>
            </li>
          </ul>
          <h4>Lain-lain</h4>
          <p>
            Sistem yang dibuat sebagai alat uji dalam penelitian ini dibangun
            menggunakan bahasa pemrograman python3. Hasil penghitungan waktu proses
            akan memiliki hasil yang berbeda tiap komputer sesuai dengan spesifikasi
            yang dimilikinya serta muatan proses/program lain yang sedang berjalan
            pada saat dilakukan penghitungan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
