{% extends "main_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <h3 class="mt-4">Sekilas</h3>
  <p>Aplikasi ini adalah aplikasi yang membandingkan performa stemming antara metode Tala dengan Nazhief Adriani. Data yang akan diuji adalah dokumen berita yang didapatkan dari <a href="http://rumahginjal.id/category/blog">rumahginjal.id</a></p>
  <h3 class="mt-4">Anggota Kelompok</h3>
  <div class="card col-md-6 col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NIM</th>
          <th scope="col">Nama</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>081611633011</td>
          <td>Thomas Adi Yoga</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>081611633036</td>
          <td>Kholish Fuadi Ahmad</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>081611633039</td>
          <td>Yofan Ardian Muslim</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>081611633050</td>
          <td>Mohammad Ali Asy-syakir</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
